/* 榜单的卡片头部 */
#topborder .el-card__header {
  /* background-color: burlywood; */
  /* color: red; */
}

#problem-card .el-card__header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  padding-left: 15px;
}

#userInfo .el-card__body {
  text-align: center;
}

#register .el-card__body {
  text-align: center;
}

#admin .el-card__body {
  font-size: 16px;
  padding: 0px;
}
