/* 首页文件下载折叠框标题栏 */
#download-file .el-collapse-item__header {
  font-size: 16px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  border: 0;
}

/* 首页文件下载折叠框内容 */
#download-file .el-collapse-item__content {
  font-size: 14px;
  text-align: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* 挑战模块折叠框标题栏 */
#challenge-block .el-collapse-item__header {
  font-size: 17px;
  margin-left: 20px;
  font-weight: bolder;
}

/* 挑战模块折叠框内容 */
#challenge-block .el-collapse-item__content {
  font-size: 14px;
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

#submit-collapse .el-collapse-item__header {
  background-color: #fafafa;
  font-size: 17px;
  font-weight: bolder;
  /* margin-left: 5px; */
}

#submit-collapse .el-collapse-item__body {
  background-color: #fafafa;
  margin: 0px;
}
